table {
  width: 100%;

}
.mat-elevation-z8 {
  border-collapse: collapse;
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  border-right: none;
}

.mat-header-row {
  background-color: #cfcfcf;
  border-bottom: 1px solid #ddd; 
}

.mat-row {
  background-color: #d8d8d8;
  border-bottom: 1px solid #ddd; 
}

.button,
.table {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.icon {
  margin: 5px;
}
